{% extends "blog/base.html" %}
{% block body1 %}
    {% for post in posts %}
        <div style="margin:10px;padding:auto;">
            <div class="card mx-auto"  style="width:500px">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-3" style="background-color:black;">
                        <img class="card-img-top rounded-circle" src="" alt="Card image"/>
                    </div>
                    <div class="col-sm-9" style="background-color:black;">
                        <p>
                            <span class="h4 font-weight-bold">{{post.author}}</span><br>
                            <span class = "text-muted">Dated {{post.date|date:"F d, Y"}}</span>
                        </p>
                    </div>
                    </div>
                </div>            
                <div class="card-body text-dark">
                    {% if post.title %}
                        <div class="card-title h5 font-weight-bold">{{post.title}}</div>
                    {% endif %}
                    <p class="card-text">
                        {{post.content}}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body1 %}