{% extends "blog/base.html" %}
{% block body1 %}
    <h3 class="mb-4" style="text-align: center;">Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h3>
    {% for post in posts %}
        <div style="margin:10px;padding:auto;">
            <div class="card mx-auto"  style="width:500px">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-3" style="background-color:black;">
                        <img class="card-img-top rounded-circle"  style="border-radius: 50%; height:80px; width:80px;padding:7px" src="{{post.author.profile.image.url}}" alt="Card image"/>
                    </div>
                    <div class="col-sm-9" style="background-color:black;">
                        <p>
                            <span class="h4 font-weight-bold">
                                <a href="{% url 'user_posts' post.author.username %}">{{post.author}}</a>
                            </span><br>
                            <span class = "text-muted">Dated {{post.date|date:"F d, Y"}}</span>
                        </p>
                    </div>
                    </div>
                </div>            
                <div class="card-body text-dark">
                    {% if post.title %}
                        <div class="card-title h5 font-weight-bold">
                            <a href="{% url 'post_detail' post.id %}">{{post.title}}</a></div>
                    {% endif %}
                    <p class="card-text">
                        {{post.content}}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
{% endblock body1 %}