{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block body1 %}
    <div class="card mt-5 mx-auto bg-dark" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Reset Password</h5>
            <p class="card-text">
                <form method='POST'>
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Reset Password</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
    
{% endblock body1 %}